#load {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: .2s;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
nav {
    z-index: 1;
}
#upper-nav {
    background-color: white;
    height: 15em;
    display: flex;
    justify-content: center;
}
#logo {
    margin: 0 auto;
    scale: 0.8;
}
#logo-full {
    text-decoration: none;
    font-size: 1.8em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo-titulo {
    font-family: 'Vollkorn', serif;
    margin: 0;
    text-align: center;
    position: relative;
    bottom: 0.2em;
    color: black;
    letter-spacing: 0.15em;
}
#lower-nav {
    background-color: #476D5E;
    padding: 0.5em;
}
#nav-links {
    margin: 0 13em;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}
#nav-links li a {
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    position: relative;
    bottom: 0;
    transition: .3s;
}
#nav-links li a:hover {
    bottom: 0.05em;
    transition: .1s;
}
#menu {
    color: white;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}
header {
    background-image: url('../img/header/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42em;
}
#banner-mensagem {
    margin: 0;
    font-family: 'Alegreya SC', serif;
    color: white;
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.5);
    width: 40vw;
    text-shadow: 0 0 100px #ffffff;
    transition: 0.3s;
}
#banner-mensagem:hover {
    text-shadow: 0 0 50px #ffffff;
    transition: 0.3s;
}
.banner-yoga {
    padding: 1em 0;
}
main {
    margin: 0 15vw;
}
#cards-home {
    display: flex;
    margin-top: 2em;
}
.card {
    background-color: #C2C2C2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1em;
    margin: 0 2.1em;
    border-radius: 0.5em;
}
.card img {
    width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.card-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    margin-top: 0.2em;
}
.card-text {
    font-family: 'Antic Didone', serif;
    text-indent: 2em;
    text-align: justify;
    margin: 1em 2.5em;
    font-size: 1.2em;
}
.card-button-about {
    background-color: #476D5E;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 1.2em;
}
.card-button-about a {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
}
.smaller-card {
    scale: 98%;
    transition: .3s;
}
.smaller-card:hover {
    scale: 100%;
    transition: .3s;
}
#bigger-card {
    transition: .3s;
}
#bigger-card:hover {
    scale: 102%;
    transition: .3s;
}
.pttrn p {
    text-indent: 1.5em;
    margin: 0.5em 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    text-align: justify;
}
.pttrn h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2.5em;
    margin: 0.5em 0;
}
#home-1 {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
#home-1 > img, #home-1 > section{
    margin: 0 2em;
}
#home-1 img {
    width: 35vw;
    height: auto;
    transition: .3s;
}
#home-1 img:hover {
    scale: 1.01;
    transition: .3s;
}
#home-2 {
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    margin-top: 2em;
}
#home-2 section{
    margin: 0 2em;
    background-color: #c2c2c2;
    border-radius: 1em;
    padding-top: 0.2em;
}
#home-2 h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2em;
    background-color: #608677;
    padding: 0.3em;
    margin-bottom: 0;
}
#home-2 ul {
    list-style-type: none;
    padding: 0.5em;
    margin-top: 0;
}
#home-2 li {
    padding: 0.3em;
    margin: 1em 0;
    background-color: #ffffff;
    border-radius: 0.5em;
}
#home-2 li::after {
    content: ';';
}
#home-2 li:last-child::after {
    content: '.';
}
#home-2 aside {
    display: inline-block;
    align-self: center;
    width: 12em;
    margin: 2em;
    border: 1px black solid;
    border-radius: 1em;
}
#home-2 aside p {
    text-align: justify;
    padding: 0 1em;
    font-size: 1.1em;
}
#home-2 aside h3 {
    background-color: #FF8E44;
    text-align: center;
    font-size: 2.5em;
}
#home-3 {
    margin-top: 2.5em;
}
#home-3 blockquote {
    margin: 1.5em 3.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
}
#home-4 {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1em;
}
#home-4 > * {
    margin: 0 1em;
}
#home-4 img {
    width: 30vw;
    height: auto;
    transition: .3s;
}
#home-4 img:hover {
    scale: 1.01;
    transition: .3s;
}
#home-5 {
    margin-top: 2em;
}
#home-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    margin: 2em 0;
}
#home-6 svg {
    width: 20em;
}
#home-6 section {
    width: 37vw;
}
#home-6 ul {
    list-style-type: none;
    padding: 0;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
}
#home-6 #leftul {
    text-align: right;
}
#home-6 #rightul {
    text-align: left;
}
#home-6 ul li {
    margin: 0.7em 0;
}
#home-6 #leftul .item-ben {
    float: right;
    justify-content: right;
}
#home-6 .item-ben {
    display: flex;
    align-items: center;
}
#home-6 .item-ben span {
    margin: 0 0.5em;
    background-color: #476D5E;
    border-radius: 50%;
    padding: 0.1em;
    color: white;
    transition: .5s;
}
#home-6 .item-ben span:hover {
    background-color: transparent;
    color: #476D5E;
    transition: .5s;
    cursor: default;
}
#first-main {
    margin-top: 2em;
}
.mention {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 2em;
}
.mention q {
    text-indent: 1.5em;
    font-size: 1.5em;
    text-align: justify;
    justify-self: center;
    display: inline;
}
.mention h3 {
    font-size: 1.5em;
}
#timeline {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
#timeline section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    font-size: 1.1em;
}
#timeline #timeline-icons {
    width: 20%;
    margin: 0 1em;
}
#timeline #timeline-icons span {
    position: relative;
    margin: 0.5em 0;
    font-size: 3.5em;
    border-radius: 50%;
    background-color: #608677;
    color: white;
    padding: 0.1em;
    transition: .3s;
    cursor: default;
}
#timeline #timeline-icons span:nth-child(odd):hover {
    margin-right: 0.2em;
}
#timeline #timeline-icons span:nth-child(even):hover {
    margin-left: 0.2em;
}
#timeline section p {
    text-indent: 1em;
}
#timeline section h3::before {
    content: '\2022  ';
}
#timeline .text-historia {
    cursor: default;
    opacity: 0;
    transition: .5s;
}
#last-main {
    margin-top: 1em;
}
#last-main q {
    font-size: 1.8em;
    text-align: center;
}
#last-main h3 {
    font-size: 1.8em;
    align-self: center;
}
#subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 0.2em black solid;
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em 0;
}
#subscribe h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3em;
    margin: 0.2em 0;
}
#subscribe p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
}
#subscribe a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    background-color: #608677;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 1.5em;
    font-size: 2em;
}
#praticas-1 {
    text-align: center;
    font-family: 'Alegreya SC', serif;
    font-size: 2em;
}
#praticas-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 10em;
}
#praticas-cards a {
    color: black;
    text-decoration: none;
    margin: 2em;
    position: relative;
    transition: .3s;
}
#praticas-cards a:hover {
    scale: 1.02;
    transition: .3s;
}
#praticas-cards #upper-cards, #praticas-cards #lower-cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    transition: .3s;
}
#praticas-cards .card-pratica {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#praticas-cards #upper-cards a:first-child .card-pratica, #praticas-cards #lower-cards a:last-child .card-pratica {
    background-color: #6e7e9b;
}
#praticas-cards #upper-cards a:last-child .card-pratica, #praticas-cards #lower-cards a:first-child .card-pratica {
    background-color: #C4C4C4;
}
#praticas-cards .card-pratica img {
    width: 100%;
}
#praticas-cards .card-pratica div {
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#praticas-cards .card-pratica h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}
#praticas-cards .card-pratica p {
    font-family: 'Antic Didone', serif;
    font-size: 1.3em;
    text-indent: 1.5em;
    margin: 1.5em 1em;
    text-align: justify;
}
#praticas-cards .card-pratica span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4em;
    color: rgb(100 100 100);
    align-self: baseline;
}
#def-pranayama ol {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    font-size: 1.3em;
    margin: 2em 0;
    list-style-type: none;
    counter-reset: li;
    padding-left: 4em;
}
#def-pranayama ol li {
    margin: 1.5em 0;
    counter-increment: li;
    transition: .6s;
}
#def-pranayama ol li::before {
    content: counter(li);
    color: white;
    padding: 0.1em 0.4em;
    border-radius: 50%;
    border-top-left-radius: 0;
    background-image: linear-gradient(to bottom right, #759789, #476D5E);
    margin-right: 1em;
}
#def-pranayama ol li::after {
    content: ';';
}
#def-pranayama ol li:last-child::after {
    content: '.';
}
#def-pranayama-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
#def-pranayama-2 section {
    display: flex;
    margin: 0 6em;
}
#def-pranayama-2 section img {
    width: 20vw;
    margin: 3em;
}
#def-pranayama-2 ul {
    justify-self: center;
    align-self: center;
    padding: 0;
    list-style-type: none;
    font-size: 1.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#def-pranayama-2 ul li {
    display: flex;
    align-items: center;
    margin: 1em 0;
}
#def-pranayama-2 ul li span {
    font-size: 2em;
    margin-right: 0.5em;
}
#def-pranayama-2 ul li:nth-child(1) span {
    color: red;
}
#def-pranayama-2 ul li:nth-child(2) span {
    color: orange;
}
#def-pranayama-2 ul li:nth-child(3) span {
    color: rgb(251, 255, 0);
}
#def-pranayama-2 ul li:nth-child(4) span {
    color: green;
}
#def-pranayama-2 ul li:nth-child(5) span {
    color: rgb(0, 119, 255);
}
#def-pranayama-2 ul li:nth-child(5) span:last-child {
    color: black;
    font-size: inherit;
}
.pratica {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    margin-top: 3em;
    border: black solid 0.1em;
    padding: 1em;
}
.pratica h3 {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 2.2em;
    margin: 0.5em 0;
}
.pratica p {
    text-align: justify;
}
.pratica .desc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pratica .desc section::first-letter {
    font-size: 1.5em;
}
.pratica .desc > * {
    margin: 0 0.5em;
}
.h .desc img {
    width: 50%;
}
.h .desc section {
    width: 50%;
}
.v .desc img {
    width: 25%;
}
.v .desc section {
    width: 75%;
}
.pratica .cuidado {
    display: flex;
    align-items: center;
}
.pratica .cuidado span {
    color: red;
    font-size: 2em;
    margin-right: 0.5em;
}
.pratica .pap {
    text-align: center;
    margin-top: 1.5em;
}
.pratica .pap h3 {
    margin: 0;
}
.pratica .pap img {
    width: 60%;
    position: relative;
    bottom: 0.5em;
}
.sem-imagem .passos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5em;
}
.pratica .passos h4 {
    font-family: 'Alegreya SC';
    font-size: 1.3em;
}
.pratica .passos .dica, .pratica .passos .bnfcs {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}
.pratica .passos .dica span {
    font-size: 4em;
    margin-right: 1em;
    color: rgb(255, 174, 0);
    border: 0.025em currentColor solid;
    padding: 0.2em;
}
.pratica .passos .bnfcs span {
    font-size: 4em;
    margin-right: 1em;
    color: green;
    border: 0.025em currentColor solid;
    padding: 0.2em;
}
.pratica .passo-asana {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12em;
}
.pratica .passo-asana > * {
    margin: 1em;
}
.pratica .passo-asana .asana-v {
    width: 25%;
}
.pratica .passo-asana .asana-h {
    width: 50%;
}
.pratica .passo-asana div {
    width: 75%;
}
.pratica .video {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pratica .shorts {
    flex-direction: column;
}
.pratica .video > * {
    margin: 3em 2em;
}
.pratica .shorts > * {
    margin: 1.2em 0;
}
.pratica iframe {
    max-width: 80vw;
}
#playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#playlist h3 {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 3.5em;
    text-align: center;
    margin: 0.5em 0;
}
#playlist iframe {
    margin-bottom: 1.5em;
}
#def-asana ol {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    font-size: 1.3em;
    margin: 2em 0;
    list-style-type: none;
    counter-reset: li;
    padding-left: 4em;
}
#def-asana ol li {
    margin: 1.5em 0;
    counter-increment: li;
    transition: .6s;
}
#def-asana ol li::before {
    content: counter(li);
    color: white;
    padding: 0.1em 0.4em;
    border-radius: 50%;
    border-top-left-radius: 0;
    background-image: linear-gradient(to bottom right, #759789, #476D5E);
    margin-right: 1em;
}
#def-asana ol li::after {
    content: ';';
}
#def-asana ol li:last-child::after {
    content: '.';
}
#def-asana-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
#def-asana-2 section {
    display: flex;
    margin: 0 6em;
}
#def-asana-2 section img {
    width: 20vw;
    margin: 3em;
}
#def-asana-2 ul {
    justify-self: center;
    align-self: center;
    padding: 0;
    list-style-type: none;
    font-size: 1.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#def-asana-2 ul li {
    display: flex;
    align-items: center;
    margin: 1em 0;
}
#def-asana-2 ul li span {
    font-size: 2em;
    margin-right: 0.5em;
}
#def-asana-2 ul li:nth-child(1) span {
    color: red;
}
#def-asana-2 ul li:nth-child(2) span {
    color: orange;
}
#def-asana-2 ul li:nth-child(3) span {
    color: rgb(251, 255, 0);
}
#def-asana-2 ul li:nth-child(4) span {
    color: green;
}
#def-asana-2 ul li:nth-child(5) span {
    color: rgb(0, 119, 255);
}
#def-asana-2 ul li:nth-child(6) span {
    color: purple;
}
#def-asana-2 ul li:nth-child(7) span {
    color: rgb(0, 0, 0);
}
.pratica .rcmnd {
    display: flex;
    align-items: center;
}
.pratica .rcmnd span {
    color: orange;
    font-size: 2em;
    margin-right: 0.5em;
}
.pratica .time {
    display: flex;
    align-items: center;
}
.pratica .time span {
    color: purple;
    font-size: 2em;
    margin-right: 0.5em;
}
#medi-post {
    font-family: 'Alegreya Sans SC', sans-serif;
}
#medi-post h3 {
    font-size: 2.5em;
    margin: 0.5em 0;
}
#medi-post span {
    font-size: 1.2em;
}
#medi-post section {
    display: flex;
    justify-content: center;
    align-items: center;
}
#medi-post div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#medi-post img {
    width: 50%;
}
#medi-post span {
    text-align: center;
}
#medi-book {
    display: flex;
    justify-content: center;
    align-items: center;
}
#medi-book > * {
    margin: 2em 1em;
}
#medi-book img {
    width: 25%;
}
#medi-book section {
    width: 60%;
}
#facaagora-1 {
    font-size: 1.35em;
    font-style: italic;
}
#facaagora-rcmnd {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    margin-top: 1.5em;
}
.pratica-medi {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    margin-top: 3em;
    border: black solid 0.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.pratica-medi h3 {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 2.2em;
    margin: 0.5em 0;
}
.pratica-medi p {
    text-align: justify;
}
.pratica-medi .orntc {
    display: flex;
    align-items: center;
}
.pratica-medi .bnfcs {
    display: flex;
    align-items: center;
}
.pratica-medi .orntc span {
    color: rgb(165, 97, 42);
    font-size: 2em;
    margin-right: 0.5em;
}
.pratica-medi .bnfcs span {
    color: green;
    font-size: 2em;
    margin-right: 0.5em;
}
.pratica-medi iframe {
    max-width: 80vw;
    align-self: center;
}
#galeriah img{
    width: 100%;
}
#galeriah{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(18.75em,1fr));
    gap: 2em;
    margin-top: 2em;
}
#galeriav{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(18.75em,1fr));
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
#galeriav img{
    width: 100%;
}
#galeria-title{
    color: white;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    text-align: center;
    position: relative;
    font-size: 4em;
    -webkit-text-stroke: 0.03em #FF8E44;
}
#sobre-alunos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sobre-alunos h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2.5em;
    margin: 0.5em 0;
}
#sobre-alunos section {
    display: flex;
    align-items: stretch;
}
#sobre-alunos section a {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    background-color: #C4C4C4;
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sobre-alunos .instagram {
    display: flex;
    align-items: center;
    align-self: center;
}
#sobre-alunos .instagram > * {
    margin: 1em 0.25em;
}
#sobre-alunos h4 {
    font-family: 'Alegreya SC', serif;
    font-size: 1.1em;
    margin-top: 0.5em !important;
    text-align: center;
}
#sobre-alunos h4, #sobre-alunos .instagram {
    margin: 0 2em;
} 
#sobre-alunos .instagram svg {
    width: 1.5em;
}
#sobre-projeto img {
    width: 100%;
}
#sobre-destaques ul {
    list-style-type: none;
    font-size: 1.2em;
}
#sobre-destaques ul > * {
    display: flex;
    align-items: center;
    margin: 1.3em 0;
}
#sobre-destaques ul > * span {
    color: #476D5E;
    margin-right: 1em;
}
#sobre-destaques li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sobre-agradecimentos {
    display: flex;
    flex-direction: column;
}
#sobre-agradecimentos ul {
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d8d8d8;
    padding: 2em;
    font-size: 1.3em;
    border: 0.1em solid black;
}
#sobre-agradecimentos section {
    display: flex;
    justify-content: center;
    align-items: center;
}
#sobre-agradecimentos section > * {
    margin: 0 2em;
}
#sobre-agradecimentos section div {
    width: 70%;
}
#sobre-agradecimentos section img {
    width: 25%;
}
footer {
    background-color: #476D5E;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}
footer section {
    width: 25vw;
}
footer #flinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer #flinks h2{
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin: 0;
    position: relative;
    bottom: 0.15em;
    letter-spacing: 0.15em;
}
footer #flinks a{
    text-decoration: none;
    color: white;
    text-align: center;
}
footer #fplists {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}
footer #fplists > * {
    margin: 0 0.5em;
}
footer #fmail-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer .fnavs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .fnavs ul {
    list-style-type: none;
}
footer .fnavs a {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
}
footer .fnavs ul li:first-child { 
    font-weight: 600;
    margin-bottom: 0.0625em;
}
footer #fform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer #fform h3 {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2em;
    text-align: center;
}
footer #fform form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer #fform form input[type=text], footer #fform form input[type=email]{
    padding: 0.3em;
}
footer #fform form input[type=submit] {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 1em;
    border: none;
}
footer #fform form > * {
    margin: 0.2em 0;
    font-size: 1.2em;
}
#modal-timeline {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    opacity: 0;
    display: none;
    transition: .3s;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#modal-timeline #modal-container {
    top: 50%;
    left: 50%;
    background-color: white;
    margin: 2em;
    padding: 0.5em;
    border: 0.5em #476D5E solid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#modal-timeline #modal-container p {
    text-align: justify;
    text-indent: 0.5em;
    font-size: 0.9em;
}
#modal-timeline #modal-container button {
    border: 0.1em black solid;
    border-radius: 1em;
    background-color: rgb(230, 230, 230);
    padding: 0.5em;
    margin-top: 1.5em;
}